[Unit]
Description=NodeExporter
After=network.target
Wants=network.target

[Service]
TimeoutStartSec=0
ExecStart=/opt/prometheus-node_exporter/current/node_exporter --web.listen-address="{{ mgmt_ipaddress | d('127.0.0.1') }}:9100"

Restart=always
RestartSec=20
TimeoutSec=300
User={{ node_exporter__system_user }}
Group={{ node_exporter__system_group }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
